@model ClientWeb.Models.Part9DetailView

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Part9DetailView</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileURI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileURI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileDateStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileDateStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileUserStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileUserStamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
